
<h4>Add words you need defined with this form here or browse words <a href="/all-words"> here</a></h4>

<form action="/new-entry" method="post">
	<label for="word">Word: </label>
	<input id="word" name="word" type="text">
	<button type="submit" class="entry-btn">add Word</button>
</form>

#if($success) 
	<p>success! your <a href="#">$newWord</a> has been saved. Check back soon to see definitions added to it by other users.</p>
#end